ktor:
    application:
        modules:
            - io.github.juevigrace.diva.io.github.juevigrace.diva.server.ApplicationKt.module
    deployment:
        port: 8080
jwt:
  domain: "https://jwt-provider-domain/"
  audience: "jwt-audience"
  realm: "ktor sample app"
