PORT=8080
DOMAIN=localhost
DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_NAME=diva
DB_SCHEMA=public
JWT_SECRET="super secret"
JWT_ISSUER=server
JWT_AUDIENCE=app
JWT_REALM="Access to server"
RESEND_API_KEY=re_your_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev

ROOT_USERNAME=root
ROOT_PASSWORD=root
ROOT_EMAIL=root@gmail.com